@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #444444;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    letter-spacing: 0.2em;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #EDEDED;
}

.logo img {
    margin-top: 2.5px;
    height: 35px;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #EDEDED;
    padding: 12px 12px;
    display: block;
    margin-right: 5px;
}

.nav-links li a.active{
    border-radius: 5px;
    background-color: #93B5C6; 
}

.nav-links li a:hover{
    border-radius: 5px;
    background-color: #93B5C6;
    color: black;
}

.actNav {
    background-color: #93B5C6;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    display: none;
}

.drop-ctn {
    display: none;
    position: absolute;
    background-color: #C8C6C6;
    min-width: 170px;
    top: 7.5vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.drop-ctn li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-ctn li a:hover {
    background-color: #93B5C6;
    color: white;
    border-radius: 0;
}

.dropdown:hover .drop-ctn {
    display: block;
}

.burger-menu {
    position: absolute;
    top: 2vh;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 30px;
}

.burger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.container1{
    /* height: 92vh; */
}

.container2 {
    background-color: #F3F1F5;
    height: 92vh;
}

/* .container h1 {
    text-align: center;
    padding-top: 30vh;
    font-family: 'Allison', cursive;
    font-size: 80px;
}

.container p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
} */


/* Home Page Start */
#home {
    /* height: 92vh; */
}

/* Carousel Start */
.carousel-container {
    padding-top: 8vh;
    position: relative;
    /* display: flex; */
}

.carousel {
    display: none;
}

/* .fade {
    display: block;
} */

.carousel-number-text {
    position: absolute;
    top: 55px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border-radius: 0 3px 3px 0;
}

.carousel-image {
    height: 92vh;
}

.carousel-image img {
    max-height: 100%;
}

.next, .previous {
    position: absolute;
    top: 50%;
    font-size: 35px;
    font-weight: 900;
    padding: 15px;
    padding-right: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transform: translateY(-50%);
    color: white;
    user-select: none;
}

.previous {
    padding-left: 20px;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.carousel-text {
    position: absolute;
    font-size: 80px;
    text-align: center;
    font-family: 'Allison', cursive;
    margin-left: 20%;
    width: 60%;
    bottom: 10%;
    padding: 50px;
    color: white;
    background-color: rgba(0,0,0,0.3);
}

.dot-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 3px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.dot:hover, .activeCarousel {
    background-color: white;
}

/* Service  */
.service-container {
    background-color: white;
}

.service-head h1 {
    padding-top: 60px;
    position: relative;
}

.service-head h1::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid black;
    border-radius: 20px;
    width: 120px;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
}

.service-head p {
    margin-top: 15px;
}

.services {
    display: flex;
    justify-content: center;
    padding: 40px 0 100px 0;
    /* background-color: blue; */
}

.service-box {
    background-color: white;
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    transition: transform .2s;
}

.service-image {
    width: 300px;
    height: 200px;
}

.service-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 0 0;
}

.service-box h1 {
    font-size: 25px;
    padding: 0 12px;
    letter-spacing: 1.5px;
}

.service-box p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding: 10px 12px 15px 12px;
}

.service-box a {
    text-decoration: none;
    padding: 0 12px;
    color: rgb(0, 0, 0, 0.7);
}

.service-box a:hover {
    color: blue;
    text-decoration: underline;
}

.service-box:hover {
    transform: scale(1.2); 

}

/* Home Page End */

/* About Us Page Start */
#about {
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: white;
    height: 65%;
    width: 70%;
    border-radius: 20px;
    box-shadow: 20px 5px 30px rgb(156, 151, 151);
}

.text p {
    margin: 25px auto;
    font-size: 35px;
    letter-spacing: 4px;
    text-align: center;
}

.team {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.team2, .team1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team1 img, .team2 img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgb(156, 151, 151);

}

.team1 p, .team2 p {
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

.team1 img:hover, .team2 img:hover {
    opacity: 0.7;
    cursor: pointer;
}
/* About Page End */


@media (max-width: 768px) {
    .burger-menu{
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
        height: 100%;
    }

    .logo {
        margin-left: 20px;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li {
        margin: 10px;
    }

    .nav-links.active {
        display: block;
    }

    .actNav {
        background-color: #93B5C6;
        border-radius: 5px;
    }

    .drop-ctn {
        position: relative;
        top: 0;
    }

    .drop-ctn li a:hover {
        width: 100%;
        margin: 0;
    }

    .container2 h1 {
        font-size: 60px ;
        margin: 0 30px;
    }

    .container2 p {
        font-size: 20px;
        margin: 0 30px;
    }

    /* About page start */
    .main {
        width: 90%;
        height: 60%;
    }

    .text p {
        font-size: 25px !important;
        margin: 25px;
    }

    .team p {
        margin-top: 10px;
        font-size: 14px;
    }
    /* About page end */

    /* Carousel */
    /* .carousel-container {
        height: 70vh;
    } */

    .carousel-text {
        font-size: 40px;
        width: 80%;
        padding: 15px;
        margin-left: 10%;
        bottom: 60px;
    }

    .carousel-image {
        background-color: violet;
        height: 60vh;
    }

    .carousel-image img {
        min-height: 100%;
    }

    .dot {
        height: 15px;
        width: 15px;
    }

    .next , .previous {
        font-size: 30px;
    }
}