@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

*  {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    font-size: 62.5%;
}

/* Navigation bar */
.navbar{
    background-color: #444444;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

.navlinks ul {
    display: flex;
    list-style: none;
    padding-left: 10rem;
}

.navlinks li {
    margin: 0 0.5rem;
}

.navlinks ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.navlinks ul li a:hover {
    color: black;
    background-color: #93B5C6;
}

/* .navlinks ul li a:hover, .navlinks ul li a.active  {
    color: black;
    background-color: #93B5C6;
} */

/* .actNav {
    background-color: #93B5C6;
    border-radius: 5px;
} */

.active {
    color: black !important;
    background-color: #93B5C6
}

.burger-menu {
    display: none;
}

#click {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-ctn {
    display: none;
    top: 5.8vh;
    position: absolute;
    width: 15vw;
    padding-left: 0rem !important;
    background-color: #C8C6C6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-ctn a{
    display: block;
    margin: 0.5rem 0.5rem;
}

.show {
    display: block;
}

/* Home Start */
#home {
    /* background-color: #66b6df; */
    /* height: 150vh; */
    padding-top: 8vh;
    /* height: 100%; */
}

.carousel-container {
    min-height: 70vh;
    width: 100%;
    background-color: white;
    position: relative;
}

.carousel-container img {
    object-fit: cover;
    min-height: 70vh;
}

.carousel-notxt {
    position: absolute;
    top: 0;
    padding: 2rem;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-radius: 0.3rem 0.3rem;
    user-select: none;
}

.next, .previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: 900;
    padding: 1.5rem;
    padding-right: 2.0rem;
    transition: all 0.6s ease;
    border-radius: 0 0.9rem 0.9rem 0;
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);

}

.previous {
    padding-left: 2rem;
    right: 0;
    border-radius: 0.9rem 0 0 0.9rem;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,1);
}

.carousel-text {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 10rem;
    user-select: none;
}

.carousel-text h1 {
    font-family: 'Allison', cursive;
    font-size: 7rem;
    font-weight: 300;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 4rem;
    border-radius: 1.5rem;
}

.dot-container {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 0.7rem;
    width: 4rem;
    margin: 0 .5rem;
    background-color: black;
    border-radius: 2rem;
    display: inline-block;
    transition: 0.3s ease;
}

.dot:hover, .activeCarousel {
    background-color: white;
}

/* Serivce */

.service-container {

}

.service-head h1 {
    margin-top: 5rem;
    font-size: 4rem;
    position: relative;
}

.service-head h1::after {
    content: "";
    position: absolute;
    border-bottom: 0.5rem solid black;
    border-radius: 1rem;
    width: 28rem;
    bottom: -12%;
    left: 50%;
    transform: translateX(-50%);
}

.service-head p {
    margin-top: 1.5rem;
    font-size: 1.8rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0 5rem 0;
    /* background-color: blue; */
}

.service-box {
    background-color: white;
    width: 35rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1.5rem rgb(0, 0, 0, 0.2);
    transition: transform .2s;
}

.service-image {
    width: 35rem;
    height: 20rem;
}

.service-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.service-box h1 {
    margin-top: 2rem;
    font-size: 3.2rem;
    padding: 0 1.2rem;
    letter-spacing: 0.1rem;
}

.service-box p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    padding: 1rem 1.2rem 1.5rem 1.2rem;
}

.service-box a {
    font-size: 1.8rem;
    text-decoration: none;
    padding: 0 1.2rem;
    color: rgb(0, 0, 0, 0.7);
}

.service-box a:hover {
    color: blue;
    text-decoration: underline;
}

.service-box:hover {
    transform: scale(1.1); 
}
/* Home End */

/* About us Start */
#aboutus {
    height: 100%;
    /* height: 92vh; */
    /* background-color: khaki; */
}

.team-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-text {
    padding-top: 5rem;
    margin-top: 5rem;
    font-size: 4rem; 
}

.team-line {
    margin-top: 0.1rem;
    width: 50rem;
    height: .4rem;
    background-color: black;
    color: black;
    border-radius: 1rem;
}

.team-heading p {
    margin-top: 1.2rem;
    font-size: 1.8rem;
    text-align: center;
}

.teams {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
} 

.team-box {
    width: 32rem;
    height: 50rem;
    margin: 2rem 4.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    /* background-color: blueviolet; */
}

.team-image {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color: black;
}

.team-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}

.team-box h1 {
    font-size: 3.5rem;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
}

.team-box b {
    font-size: 2rem;
    margin-top: 0.5rem;
    letter-spacing: .05rem;
    color: rgb(97, 97, 255);
}

.team-box p {
    font-size: 1.8rem;
    margin: 1rem auto;
    letter-spacing: .05rem;
    line-height: 1.2;
    text-align: center;
}

.team-icons i{
    margin-top: 5rem;
    color: gray;
    font-size: 2rem;
    margin: 0.8rem 0.5rem;
    /* background-color: green; */
}

.team-icons i:hover {
    color: black;
}
/* About us End */



@media (max-width: 910px) {
    html {
        font-size: 60%;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .navlinks li {
        margin: 0rem 0rem;
        padding: 0 0.1rem;
    }

    .navlinks ul li a {
        font-size: 2.1rem;
        padding: 0.8rem 0.8rem !important;
        letter-spacing: normal;
    }

    .dropdown-ctn {
        width: 16vw;
        top: 5.4vh;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .navlinks ul {
        padding-left: 0rem;
    }

    .dropdown-ctn {
        top: 5.8vh;
    }

    .carousel-text {
        bottom: 5rem;
    }
    .carousel-text h1 {
        font-size: 5rem;
    }
}

@media (max-width: 710px) {
    .service-box {
        width: 50rem;
        height: 46rem;
    }

    .service-image {
        width: 50rem;
        height: 30rem;
    }

    .service-image img {
        height: 100%;
    }

    .team-line {
        width: 45rem;
    }

    .team-heading p {
        padding: 0 3rem;
    }
}

@media (max-width: 674px) {
    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .navlinks {
        position: fixed;
        top: 8vh;
        background-color: #5a5757;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        left: -120%;
        transition: all 0.3s ease;
        /* z-index: 100; */
    }

    .navlinks ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .navlinks ul li {
        margin: 2.5rem 0;
    }

    .navlinks ul li a {
        font-size: 2.5rem;
        background: none !important;
    }

    .navlinks ul li a:hover, .navlinks ul li a.active  {
        color: #66b6df;
    }

    .burger-menu {
        display: block;
        color: white;
        font-size: 3.5rem;
        cursor: pointer;
    }

    #click:checked ~ .navlinks {
        left: 0%;
    }

    #click:checked ~ .burger-menu i:before {
        content: "\f00d";
    }

    .dropdown {
        text-align: center;
    }

    .dropdown-ctn {
        position: relative;
        top: 2rem;
        box-shadow: inherit;
        width: 100vw;
        text-align: center;
    }

    .dropdown-ctn a {
        padding: 1.5rem 0rem !important;
    }

    .dropdown-ctn a:hover {
        color: black !important;
    }

    .carousel-text {
        bottom: 5rem;
    }
    .carousel-text h1 {
        font-size: 4.5rem;
        padding: 2rem;
        border-radius: 1rem;
    }
}

@media (max-width: 500px) {
    .service-box {
        width: 40rem;
        height: 41rem;
    }

    .service-image {
        width: 40rem;
        height: 25rem;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 45%;
    }
}